<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Mapa</servlet-name>
        <servlet-class>Sol.ser.Mapa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStockArticulo</servlet-name>
        <servlet-class>Sol.ajax.GetStockArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditaArticulo</servlet-name>
        <url-pattern>/admin/EditaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mapa</servlet-name>
        <url-pattern>/Mapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStockArticulo</servlet-name>
        <url-pattern>/api/GetStockArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>FiltroRequest</filter-name>
        <filter-class>Sol.ser.FiltroRequest</filter-class>
        <init-param>
            <param-name>Encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>FiltroCliente</filter-name>
        <filter-class>Sol.ser.FiltroCliente</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroCliente</filter-name>
        <url-pattern>/clientes/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroRequest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BuscarArticulos</servlet-name>
        <servlet-class>Sol.ser.BuscarArticulos</servlet-class>
        <init-param>
            <param-name>tamanioPagina</param-name>
            <param-value>12</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AreaCliente</servlet-name>
        <servlet-class>Sol.ser.AreaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmaAnulacion</servlet-name>
        <servlet-class>Sol.ser.ConfirmaAnulacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CierraPedido</servlet-name>
        <servlet-class>Sol.ser.CierraPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Sol.ser.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Sol.ser.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoCliente</servlet-name>
        <servlet-class>Sol.ser.NuevoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuerdoContrasenia</servlet-name>
        <servlet-class>Sol.ser.RecuerdoContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioContrasenia</servlet-name>
        <servlet-class>Sol.ser.CambioContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarDatos</servlet-name>
        <servlet-class>Sol.ser.CambiarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosCliente</servlet-name>
        <servlet-class>Sol.ser.PedidosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPedido</servlet-name>
        <servlet-class>Sol.ser.VerPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExcell</servlet-name>
        <servlet-class>Sol.ser.CreateExcell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionaPedido</servlet-name>
        <servlet-class>Sol.ser.GestionaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPedidoAnulado</servlet-name>
        <servlet-class>Sol.ser.VerPedidoAnulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnulaPedidoRealizacion</servlet-name>
        <servlet-class>Sol.ser.AnulaPedidoRealizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoRealizacion</servlet-name>
        <servlet-class>Sol.ser.PedidoRealizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaArticulo</servlet-name>
        <servlet-class>Sol.ser.EditaArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarArticulos</servlet-name>
        <url-pattern>/BuscarArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCliente</servlet-name>
        <url-pattern>/clientes/AreaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoCliente</servlet-name>
        <url-pattern>/NuevoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuerdoContrasenia</servlet-name>
        <url-pattern>/RecuerdoContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioContrasenia</servlet-name>
        <url-pattern>/CambioContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarDatos</servlet-name>
        <url-pattern>/clientes/CambiarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CierraPedido</servlet-name>
        <url-pattern>/clientes/CierraPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosCliente</servlet-name>
        <url-pattern>/clientes/PedidosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmaAnulacion</servlet-name>
        <url-pattern>/clientes/ConfirmaAnulacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPedidoAnulado</servlet-name>
        <url-pattern>/clientes/VerPedidoAnulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExcell</servlet-name>
        <url-pattern>/clientes/CreateExcell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPedido</servlet-name>
        <url-pattern>/clientes/VerPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionaPedido</servlet-name>
        <url-pattern>/clientes/GestionaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnulaPedidoRealizacion</servlet-name>
        <url-pattern>/clientes/AnulaPedidoRealizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoRealizacion</servlet-name>
        <url-pattern>/clientes/PedidoRealizacion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/electrosa</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <error-page>
        <exception-type>paw.model.ExcepcionDeAplicacion</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Area de administracion</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/entradaAdmin.jsp</form-login-page>
            <form-error-page>/errorLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
