
.resultBusqueda {
  padding:0;
  width:95%;
  margin:auto;
  clear:both;
}

.item {
  list-style:none;
  padding:5px;
  margin:5px;
  border: 1px solid #5C7E6F;
  width:147px;
  height:160px;
  float:left;
}

.redondeo {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
}

.foto {
  width: 80px;
  float:left;
}
.datos {
  position:relative;
  width: 55px;
  height: 130px;
  float:left;
  padding-left:4px;
  /*padding-top:10px;*/
  font-weight:bold;
  line-height:normal;
}
.datos span {
  display:block;
}
.codigo {
  clear:both;
  text-align:center;
  position:relative;
  bottom:-5px;
}
.precio {
  position:absolute;
  bottom:25px;
  right:1px;
}
.precio span {
  font-size:1.2em;
/*  margin-top:2em;*/
  text-align:right;
}

.oferta {
  color:red;
}

.carro {
  position:absolute;
  bottom:5px;
  right:1px;
}
.modovisual {
  text-decoration:none;
  float:right;
}
#filtroCatalogo {
  float:left;
}
.contenido {
  padding:20px;
}

.contenido h1 {
  color: #5C7E6F;
  margin-top:0;
  padding-top:20px;
}

.resumResul {
  width:654px;
  clear:both;
  border: 1px solid #5C7E6F;
  padding:5px;
  margin-left:23px;
  margin-top:20px;
}

.filtroCatalogo {
  margin-top: 10px;
  width:710px;
  clear:both;
  border: 1px solid #5C7E6F;
  padding:5px;
  padding-bottom: 7px;
/*  margin-left:23px;*/
}
#filtroCatalogo input{
  margin:0;
}
#filtroCatalogo label{
  margin-left:10px;
}
#buscar {
  vertical-align:bottom;
  padding-left:20px;
}