.confirm {
  float:left; 
  margin-left:20px;
  color:#5C7E6F;
  font-size:large;
  width: 70%
}

.NOb { 
  background-color: #C02C11;
  border: none;  
  padding:8px 12px 10px 12px;
  color:#FFFFFF;
  margin: 1em 1em;
  font-size:75%;
  width: 80px;
  text-align:center;
}

.SIb { 
  background-color: #5C7E6F;
  border: none;  
  padding:8px 12px 10px 12px;
  color:#FFFFFF;
  margin: 1em 1em;
  font-size:75%;
  width: 80px;
  text-align:center;
}

.NOb a, .SIb a { 
  color:#FFFFFF;
  text-decoration:none;
}