@CHARSET "UTF-8";
@media screen
{
    body {
        background-color:#fff;
        margin:0;
        padding:0;
        font-family:Arial, Helvetica, sans-serif;
        font-size:75%;
        color:#666;
        height:100%;
    }

    img {
        border:0;
    }
    .logo {
        position:absolute; right:10px;top:8px;
        z-index:10;
    }

    .barra_menus {
        float:right;
        /* position:relative; 
         top:1px;*/
        width:100%; 
        /*  min-width:850px;*/
    }

    #lang {
        width:30%; 
        margin:0 auto;
        padding-bottom:10px;
    }  

    #migas{
        margin-left: 1.5em;
    }

    #lang a,
    #migas a {
        text-decoration: none;
        color: #5C7E6F; 
    }  

    .pestanias {
        padding: 10px;
        border-bottom:2px solid #5C7E6F; 
        /*  width:90%; */
        margin:0 auto; 
        font-size: 1.3em
    }

    .pestanias a {
        text-decoration: none;
        color:#999; 
    }

    .grupoPestanias {
        width:45%; 
        margin:0 auto
    }

    .pestaniaSel {
        display:inline;
        padding: 10px; 
        border:2px solid #5C7E6F; 
        border-bottom:2px solid #FFF;  
        /*  margin-right:10px; */
        color: #5C7E6F;
        font-weight: bold;
    }

    .pestaniaNoSel {
        display:inline;
        padding: 10px; 
        border:2px solid #5C7E6F; 
        color: #5C7E6F; 
        font-weight: bold; 
        background-color: #D5E6D9
    }

    #menu {
        background-color:#FFFFFF;
        padding: 10px;
        border-bottom:2px solid #5C7E6F; 
        /*  width:90%; 
          margin:0 auto; */
        font-size: 1.2em
    }

    /*
  #menu li {
    display: inline; 
    text-align: center; 
    padding: .2em 0em; 
    list-style: none;   
  }  */

    #menu li {
        float:left;
        text-align: center; 
        padding: .2em 0em; 
        list-style: none; 
    }

    #menu li a {
        display:block;
        text-decoration: none;
        font-weight: bold; 
        color:#999; 
        padding: 0 1em;
        border:none;  
    }

    #menu li+li a {
        border-left:1px solid #5C7E6F;
    }

    #menu li a:hover {
        color: #5C7E6F  !important;  
    }


    .sombra { 
        width:800px;  
        margin:auto;
        background-image:url(../img/Sombra800b.png);
        background-position:center;
        background-repeat:repeat-y;

    }

    .nucleo {
        width:775px; 
        margin:0 auto;
        background:#FFFFFF;
        line-height:1.6em;
    }

    .nucleo p {
        margin-bottom: 5px;
    }

    .nucleo a {
        color:#666;
    }

    .centro {
        width: 90%;
        margin: 0 auto;
        line-height:1.25em;
    }

    .centro ul {
        margin: 0;
        padding: 0;
    }

    .centro li {
        list-style:none;
    }

    .centro a {
        text-decoration: none;
        color: #5C7E6F;
    }

    .centro h3 {
        font-size: 1.5em;
        line-height:1.25em;
    }

    .columna {
        float:left;
        margin:0 2%;
        width: 46%;
    }

    .celda {
        width:100%;
        margin:0 0;
    }


    .parteCelda {
        float:left;  
        margin:0 0;
        width: 40%;
    }


    .parteCelda2 {
        float:right;  
        margin:0 0;
        width: 60%;
    }

    .clear {
        clear:both;
        margin:0;
        padding:0;
    }

    .contenido {
        padding:20px;
    }

    .contenido h1 {
        color: #5C7E6F;
        margin-top:0;
        padding-top:20px;
    }

    .separa {
        width:775px; 
        height:25px;
        margin:0 auto;
        background:#FFFFFF;
    }

    .pie {
        width:773px; 
        height:40px;
        margin:0 auto;
        /*  background:#5C7E6F;*/
        color:#FFFFFF;
        background-image:url(../img/pie.png);
        /*  background-position:center;*/
        background-repeat:repeat-x;
        border: 1px solid #FFF;
    }

    .pie a {
        text-decoration: none;
        color:#FFFFFF;
    }

    .pie_izda{
        float:left;
        padding:10px;
        padding-top:15px;
    }

    .pie_dcha{
        float:right;
        padding:10px;
        padding-top:15px;
    }

    .error {
        float:left; 
        margin-left:20px;
        color:#C02C11;
        font-size:large;
        width: 70%
    }

    .errorb a { 
        background-color: #C02C11;
        color:#FFFFFF;
        text-decoration:none;
    }

    .errorb { 
        background-color: #C02C11;
        border: none;  
        padding:8px 12px 10px 12px;
        color:#FFFFFF;
        margin: 1em 1em;
        font-size:75%;
        width: 80px;
    }


    .paginador {
        float: right; 
    }

    .paginador a, span {
        margin-left: 3px; 
    }

    .izda {
        float:left; 
    }

    .dcha {
        float:right; 
    }

    .alerta {
        margin-top: 10px;
        width:710px;
        clear:both;
        border: 1px solid red;
        padding:5px;
        padding-bottom: 7px;
        color: #C02C11;
    }

    .dirAlmacen {
        float:left;
        width:25%; 
        margin-left:10px;
        margin-bottom:20px;
    }

    .dirAlmacen {
        float:left;
        width:25%; 
        margin-left:10px;
        margin-bottom:20px;
    }
    input.cpBuscar{
        float:left;
        width:25%; 
        margin-left:10px;
        margin-bottom:20px;
    }
    input.buttonEncuentra{
        float:left;
        width:25%; 
        margin-right:100px;
        margin-bottom:20px;
    }
    .fancybox-slide--iframe .fancybox-content {
	width  : 500px;
	height : 500px;
	max-width  : 100%;
	max-height : 100%;
	margin: 0;
}
}