#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  background: #FFFFFF;
  border-bottom:2px solid #5C7E6F;
  padding: 10px; 
  font-size: 1.2em;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #000;
  display: inline-block;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li > a {
  text-decoration: none;
  font-weight: bold; 
  color:#999; 
  padding: 0 1em;
  border:none;  
  border-left:1px solid #D5E6D9;
}
#cssmenu li+li a {
  border-left:1px solid #5C7E6F;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #D5E6D9;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  padding-left: 55px;
  border-left:1px solid #FFF;
}
#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #D5E6D9;
  margin-left: -10px;
}
#cssmenu > ul > li.active > a {
  background: #FFF;
}
#cssmenu > ul > li:hover > a {
  background: #FFF;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 100px;
  top: 100%;
  left: 0;
}
#cssmenu  > ul > li:first-child.has-sub ul {
  padding-left: 55px;
}
#cssmenu .has-sub ul li {
  margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #D5E6D9;
  filter: none;
  font-size: 12px;
  display: block;
  line-height: 50%;
  padding: 10px;
  border-left:1px solid #D5E6D9;
}
#cssmenu .has-sub ul li:hover a {
  background: #39634A;
  color: #ffffff;
  border-bottom: 1px dotted #FFF;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #39634A;
  color: #ffffff;
  border-bottom: 1px dotted #FFF;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #39634A;
  color: #ffffff;
}
