.contenido tr {
  background-color:#5C7E6F;
  color:#FFF;
  font-weight:bold;
}

.contenido tr a {
  text-decoration: none;
}

.contenido tr a:hover{
  text-decoration: underline;
}

.contenido td {
  padding-left: 3px;
}

.contenido tr+tr {
  background-color:#000;
  color:#FFF;
  font-weight:bold;
}

.contenido tr+tr a {
  color: #FFF;
}

.contenido tr+tr+tr {
  background-color:#FFF;
  color:#000;
  font-weight:normal;
}

.contenido tr+tr+tr a {
  color: #000;
}

.contenido tr.par {
  background-color:#E6FFFF;
  color:#000;
  font-weight:normal;
}

.atajo {
  float:right;
  margin: 0 5% 0 auto;
  z-index: 20;
}